##Single line comment

'''multiline
comment'''

Case sensitive

In [1]:
Name="Anusha"
name="katta"
print(Name)
print(name)

Anusha
katta

Indentation

In [3]:
##Python uses identation to define a block of code. usually 4 spaces or a tab
age=32
if age>30:
    print(age)

32

In [4]:
##line continuation
total=1+2+3+4+5+\
6+7+8
print(total)

36

In [6]:
##Multiple statements on a single line
x=5;y=10;z=x+y
print(z)

15

In [7]:
print("Hello World!\nHello World!")

Hello World!
Hello World!

In [8]:
print("Hello"+"Anusha")

HelloAnusha

In [9]:
print("Hello"+" Anusha")

Hello Anusha

In [11]:
print("Hello"+" "+"Anusha")

Hello Anusha

In [ ]:
input("what is your name?")

In [3]:
#All about variables
#Variable names should be descriptive
# They must always start with a letter or an '_' and contains letters, numbers or undescore
#variable names are case sensitive

1a=10
print(1a)

SyntaxError: invalid decimal literal (801468901.py, line 6)

In [4]:
#Variable types
#Python determines the type of the variable during run time
age=25 #int
height=4.5 #float
name="anusha" #string
is_student=True #bool
print(type(name))

<class 'str'>

In [5]:
##Type checking and convesrion
type(height)

float

In [6]:
age=25
print(type(age))

<class 'int'>

In [7]:
age_str=str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

In [8]:
name="anusha"
print(int(name))

ValueError: invalid literal for int() with base 10: 'anusha'

In [9]:
height=5.22
print(type(height))

<class 'float'>

In [14]:
##Dynamic Typing
## We can change the type of the variable during program execution
var=10
print(var,type(var))
var="anusha"
print(var,type(var))
var=3.45
print(var,type(var))

10 <class 'int'>
anusha <class 'str'>
3.45 <class 'float'>

In [1]:
a=input("Enter a value")
print(type(a))

<class 'str'>

Basic Datatypes

In [1]:
##string datatype
name="anusha"
print(name)

anusha

In [2]:
#boolean datatype
is_true=True
type(is_true)

bool

In [3]:
#float
height=5.2
print(height)
print(type(height))

5.2
<class 'float'>

In [4]:
a=110
b=57
type(a==b)

bool

In [6]:
#common errors
result="hello" + 5

TypeError: can only concatenate str (not "int") to str

In [8]:
result="hello"+str(5)
print(result)

hello5

#Operators

In [19]:
###Arthimetic operations
a=10
b=45
add=a+b
sub=a-b
multi=a*b
div=a/b
floor_division=a//b
modulus_result=a%b
exponent_result=a**b
print("addition:",add)
print("subtraction:",sub)
print("multiplication:",multi)
print("division:",div)
print("floor division:",floor_division)
print("modulus",modulus_result)
print("exponent",exponent_result)

addition: 55
subtraction: -35
multiplication: 450
division: 0.2222222222222222
floor division: 0
modulus 10
exponent 1000000000000000000000000000000000000000000000

#Comparison operators

In [21]:
# ==
a=10
b=10
print(a==b)

True

In [22]:
# !=
str1="anusha"
str2="Anusha"
print(str1!=str2)

True

In [23]:
#greater than
num1=45
num2=35
print(num1>num2)

True

In [24]:
print(num1<num2)

False

In [25]:
#greater than equal to
n1=45
n2=45
print(n1>=n2)

True

In [26]:
#less than or equal to
print(n1<=n2)

True

#Logical operator

In [27]:
#And, Not, OR
x=True
y=True
print(x and y)

True

In [28]:
print(x or y)

True

In [29]:
print(not x)

False

Conditional Statements

In [4]:
#if statement
age=18

if age>=20:

    print("You are a major")
else:
    print("You are a minor")

You are a minor

In [5]:
#elif statement
age=20

if age<13:
    print("You ara a child")
elif age<18:
    print("You are a teenager")
else:
    print("You are an adult")

You are an adult

In [ ]:
#Nested Conditional statements
'''
# num=int(input("Enter the number"))
#input function is not working in jupyter notebook but working fine from the terminal
'''
num=5

if num>=0:
    print("the number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is zero or negative")

the number is positive
The number is odd

Practical Examples

In [6]:
''' Leap year
     Divisible by 400 → leap
     Divisible by 4 but not 100 → leap
     test data: 2000,2024, 1900 and 2025
'''

year=1900

if(year%400==0) or (year%4==0 and year%100!=0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

1900 is not a leap year