The map() function
The map() function applies a given functon to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for tranforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x
square(4)

16

In [3]:
numbers=[1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [4]:
#Lambda function with map
numbers=[1,2,3,4,5,6,7,8,9]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
#Map multiple iterables
n1=[1,2,3]
n2=[4,5,6]
added_numbers=list(map(lambda x,y:x+y,n1,n2))
print(added_numbers)

[5, 7, 9]

In [ ]:
#map() to convert a list of strings into integers
str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers)) #Here the function name is int and typecasts string into integer)

print(int_numbers)

[1, 2, 3, 4, 5]

In [9]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [11]:
def get_name(person):
    return person['name']
people=[
    {'name':'Tom','age':32},
    {'name':'Tim','age':43}
]    
list(map(get_name,people))

['Tom', 'Tim']